/* Align top navbar */
li {
    text-align: center;
    display: inline;
}

/* Position navbar links to top right */
.right {
    float: right;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    text-decoration: none;
    font-size: 13px;
    color: #73736f;
    font-family: Arial, Helvetica, sans-serif;
}

/* Underline top right links when hovered */
.right:hover {
    text-decoration: underline;
}

/* Position navbar links to top left */
.left {
    float: left;
    margin-left: 1.5em;
    margin-top: 1.5em;
    text-decoration: none;
    font-size: 13px;
    color: #73736f;
    font-family: Arial, Helvetica, sans-serif;
}

/* Underline top left links when hovered */
.left:hover {
    text-decoration: underline;
}

.logo {
    position: relative;
}

/* Set google logo at fixed position */
.logo img {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Set position of search form and size */
.sbar {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: -16px 0px 0px;
    width: 555px;
    height: 41px;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
}

/* Display shadow when search form hovered */
.sbar:hover {
    box-shadow: 0px 0px 5px 2px #F2F2F2;
}

/* Display shadow when search form clicked */
.sbar:focus {
    box-shadow: 0px 0px 5px 2px #F2F2F2;
    outline: none;
}

/* Set position and size of google search button */
#button1 {
    position: fixed;
    top: 45%;
    left: 42%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 38px;
    width: 140px;
    margin: 55px 0px 0 39px;
    overflow: hidden;
    border-radius: 0px;
    text-align: center;
    line-height: 35px;
}

/* Set position and size of "lucky" button */
#button2 {
    position: fixed;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 38px;
    width: 140px;
    margin: 55px 0px 39px;
    overflow: hidden;
    border-radius: 0px;
    text-align: center;
    line-height: 35px;
}

/* Text characteristics of buttons */
.btns {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #73736f;
    background: #F2F2F2;
    text-decoration: none;
}

/* Change color/border of buttons when hovered */
.btns:hover {
    color: rgb(17, 7, 7);
    border: .8px solid #c4c4bd;
}


.navbar {
    overflow: hidden;
    background-color: rgba(228, 225, 225, 0.986);
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #73736f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  /* Change background on mouse-over */
.navbar a:hover {
    text-decoration: underline; /* Not working */
  }

.r-navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
/* Links inside the navbar */
.r-navbar a {
    float: right;
    display: block;
    color: #73736f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
      
/* Change background on mouse-over */
.r-navbar a:hover {
    text-decoration: underline;
}
  

